body {
  background-color: #fad961;
  background-image: linear-gradient(90deg, white 0%, #f76b1c 100%);
}

.header {
  min-height: 20vh;
}

.btn {
  background-color: rgb(56, 56, 56);
  color: white;
}

.weather {
  min-height: 50vh;
  min-width: 50vw;
}

.weatherCard,
.forecastCard {
  background-color: rgb(56, 56, 56);
  color: white;
}

.forecastCard {
  padding-right: ;
}

.recentCity {
  background-color: rgb(56, 56, 56);
  margin-bottom: 2rem;
}

.recentCity {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.recentCity:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .forecast {
    flex-direction: column;
  }

  .forecastCard {
    width: 100vw !important;
  }
}
